<footer>
    <div class="card-body">
        <h5 class="card-title">Johnny Nguyen &copy 2021</h5>
        <p class="card-text">Contact us</p>
    </div>
    <div class="footer-icon">
        <i class="fab fa-facebook-square"></i>
        <br>
        <i class="fab fa-instagram-square"></i>
        <br>
        <i class="fab fa-youtube-square"></i>
        <br>
        <i class="fab fa-linkedin-in"></i>
    </div>
</footer>