<div class="confirmation">
    <h1> Successful payment</h1>
    <h3> You motorcycle is being shipped to you right away! </h3>
    <h1> Congratulations! </h1>
    <%= link_to 'Buy More', item_page_path, class:"btn btn-primary" %>
</div>