/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 .navbar {
    display:flex;
    flex-direction:row;
    .logo{
        border-radius: 50%;
    }
    .nav{
        color: black;
    }
}

.nav-item a{
    color:black;
}
 footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 68%;
    border-top: 2px solid orange;
    bottom: 0;
    .card-body {
        display:flex;
        align-items: center;
        flex-direction: column;
    }
    .footer-icon {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 30px;
    }
    i {
        margin: 10px;
    }
}