// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn-right{
    float: right;
}
.item-listed{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    .card{
        margin: 20px;
        min-width: 70%;
    }
}
.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  .buy_button{
      margin-left: 65%;
  }
}
.form-actions{
    margin-top: 10px;
}
.back{
    margin-bottom: 5px;
}